
html { height: 100%;
align-items: center; 
}

body { 
    background: #222;
    display:flex;
    align-items: center;
    flex-direction: column;


}

.loading-text {
	place-self: center;
	white-space: pre-wrap;
	background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%;
	-webkit-background-clip: text;        
	color: transparent;
	font: 900 clamp(2em, 10vw, 10em) exo, sans-serif;
	animation: shimmer 2s linear infinite
}
.loading-text.undertext{
    font: 900 clamp(1em, 5vw, 5em) exo, sans-serif;
}

@keyframes shimmer { to { background-position: 100% } }