:root{

  --grad-start: #513170;
  --grad-end:   #2b3a63;
   background: linear-gradient(to right,var(--grad-start),var(--grad-end)); /*colore background*/
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
    overflow-x: hidden;
    
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; 
    align-self: center;
    justify-content: space-between;
    padding-top: 1rem;
   
    
    
}


/* Header */
header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem;
    box-shadow: 0 1px 8px #ddd;
}

header h1{
    color:#feeb;
}

header li {
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 3rem;
}

header a {
    text-decoration: none;
    color: #b2dfdb;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b2dfdb;

}

main{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;              /* spazi tra card */
  
  align-items: center;
  padding: 1.5rem 1rem;
  width: 100%;            
  text-align: center;
  color: #feeb;

}
main h2{
   
    padding: 1rem 1rem;
}
main li{
    list-style: none;
    display: inline-block;
    padding:0.5rem;
    
}
main a{
    color: #b2dfdb;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
main a:hover{
     color: #b2dfdb;
}
.card {
  border: 2px solid #fff;
  border-radius: 2rem; 
  padding: 2rem 1.5rem;
  transition: transform 0.4s ease;

  width: 100%;
  max-width: 15rem;
  box-shadow: 0 1px 4px #ddd;


}


.card:hover {
  transform: scale(1.2);
  color:#b2dfdb;
  box-shadow: 0 1px 12px #ddd;

}

footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: static;
    bottom:0;
}

.sezione.link{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


@media (max-width: 480px) {
  header{
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding: 2rem 5rem;
        box-shadow: 0 1px 8px #ddd;
    }
  main {
    flex-direction: column;
    padding-top: 2rem;
  }
}
@media (max-width: 768px) {

  main {
    flex-direction: column;
    padding-top: 2rem;
  }
}
@media(min-width: 1024px){
    main{
        flex-direction: row;
        padding-top: 2rem;
        justify-content: space-evenly;
    }
}